.inputContainer {
  position: relative;
  .viewToggle {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    &svg {
      color: var(--light-9);
    }
  }
}
.logoImage {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  filter: drop-shadow(2px 4px 6px black);
}
