.wrap {
  margin-top: 16px;
}
.inputwrapper {
  position: relative;
}
.updateBtn {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: var(--tertery-1);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  svg {
    color: var(--light-9);
  }
  em {
    font-style: normal;
  }
}
